In [2]:
import pandas as pd
import numpy as np

In [21]:
!dir

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: A00C-CEA9

 Directorio de C:\Users\Santiago\Desktop\Cursos\Udemy_Nanodegree_DataScience\Project-1\AirBNB

26/03/2021  07:36 a. m.    <DIR>          .
26/03/2021  07:36 a. m.    <DIR>          ..
25/03/2021  02:12 p. m.                 0 .gitignore
26/03/2021  07:23 a. m.    <DIR>          .ipynb_checkpoints
25/03/2021  02:18 p. m.    <DIR>          in
26/03/2021  07:36 a. m.            23,192 Proofs.ipynb
25/03/2021  02:08 p. m.                37 README.md
               3 archivos         23,229 bytes
               4 dirs  80,214,417,408 bytes libres

In [38]:
!dir  C:\Users\Santiago\Desktop\Cursos\Udemy_Nanodegree_DataScience\Project-1\AirBNB\in

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: A00C-CEA9

 Directorio de C:\Users\Santiago\Desktop\Cursos\Udemy_Nanodegree_DataScience\Project-1\AirBNB\in

26/03/2021  07:49 a. m.    <DIR>          .
26/03/2021  07:49 a. m.    <DIR>          ..
17/11/2019  09:30 p. m.        33,521,941 calendar_boston.csv
20/09/2019  01:24 a. m.        36,650,955 calendar_seattle.csv
17/11/2019  09:31 p. m.        14,756,898 listings_boston.csv
20/09/2019  01:24 a. m.        16,871,061 listings_seattle.csv
17/11/2019  09:31 p. m.        27,319,622 reviews_boston.csv
20/09/2019  01:24 a. m.        36,592,035 reviews_seattle.csv
               6 archivos    165,712,512 bytes
               2 dirs  80,200,663,040 bytes libres

In [58]:
calendar_boston = pd.read_csv(".\in\calendar_boston.csv")
calendar_seattle = pd.read_csv(".\in\calendar_seattle.csv")
listings_boston = pd.read_csv(".\in\listings_boston.csv")
listings_seattle = pd.read_csv(".\in\listings_seattle.csv")
reviews_boston = pd.read_csv('./in/reviews_boston.csv')
reviews_seattle = pd.read_csv("./in/reviews_seattle.csv")

In [59]:
calendar_boston.head()
calendar_seattle.head()
listings_boston.head()
listings_seattle.head()
reviews_boston.head()
reviews_seattle.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [60]:
df_calendar_boston = calendar_boston.copy(deep = True)
df_calendar_seattle = calendar_seattle.copy(deep = True)
df_listings_boston = listings_boston.copy(deep = True)
df_listings_seattle = listings_seattle.copy(deep = True)
df_reviews_boston = reviews_boston.copy(deep = True)
df_reviews_seattle = reviews_seattle.copy(deep = True)

In [68]:
df_calendar_boston.info()
df_calendar_seattle.info()
df_listings_boston.info()
df_listings_seattle.info()
df_reviews_boston.info()
df_reviews_seattle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  object
 2   available   1308890 non-null  object
 3   price       643037 non-null   object
dtypes: int64(1), object(3)
memory usage: 39.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3585 non-null   int64
 1   listing_url                       3585 non-null   object
 2   scrape_id                         3585 non-null   int64
 3   last_scraped                      3585 non-null   object
 4   name                              3585 non-null   object
 5   summary                           3442 non-null   object
 6   space                             2528 non-null   object
 7   description                       3585 non-null   object
 8   experiences_offered               3585 non-null   object
 9   neighborhood_overview             2170 non-null   object
 10  notes                             1610 non-null   object
 11  transit                           2295 non-null   object
 12  access                            2096 non-null   object
 13  interaction                       2031 non-null   object
 14  house_rules                       2393 non-null   object
 15  thumbnail_url                     2986 non-null   object
 16  medium_url                        2986 non-null   object
 17  picture_url                       3585 non-null   object
 18  xl_picture_url                    2986 non-null   object
 19  host_id                           3585 non-null   int64
 20  host_url                          3585 non-null   object
 21  host_name                         3585 non-null   object
 22  host_since                        3585 non-null   object
 23  host_location                     3574 non-null   object
 24  host_about                        2276 non-null   object
 25  host_response_time                3114 non-null   object
 26  host_response_rate                3114 non-null   object
 27  host_acceptance_rate              3114 non-null   object
 28  host_is_superhost                 3585 non-null   object
 29  host_thumbnail_url                3585 non-null   object
 30  host_picture_url                  3585 non-null   object
 31  host_neighbourhood                3246 non-null   object
 32  host_listings_count               3585 non-null   int64
 33  host_total_listings_count         3585 non-null   int64
 34  host_verifications                3585 non-null   object
 35  host_has_profile_pic              3585 non-null   object
 36  host_identity_verified            3585 non-null   object
 37  street                            3585 non-null   object
 38  neighbourhood                     3042 non-null   object
 39  neighbourhood_cleansed            3585 non-null   object
 40  neighbourhood_group_cleansed      0 non-null      float64
 41  city                              3583 non-null   object
 42  state                             3585 non-null   object
 43  zipcode                           3547 non-null   object
 44  market                            3571 non-null   object
 45  smart_location                    3585 non-null   object
 46  country_code                      3585 non-null   object
 47  country                           3585 non-null   object
 48  latitude                          3585 non-null   float64
 49  longitude                         3585 non-null   float64
 50  is_location_exact                 3585 non-null   object
 51  property_type                     3582 non-null   object
 52  room_type                         3585 non-null   object
 53  accommodates                      3585 non-null   int64
 54  bathrooms                         3571 non-null   float64
 55  bedrooms                          3575 non-null   float64
 56  beds                              3576 non-null   float64
 57  bed_type                          3585 non-null   object
 58  amenities                         3585 non-null   object
 59  square_feet                       56 non-null     float64
 60  price                             3585 non-null   object
 61  weekly_price                      892 non-null    object
 62  monthly_price                     888 non-null    object
 63  security_deposit                  1342 non-null   object
 64  cleaning_fee                      2478 non-null   object
 65  guests_included                   3585 non-null   int64
 66  extra_people                      3585 non-null   object
 67  minimum_nights                    3585 non-null   int64
 68  maximum_nights                    3585 non-null   int64
 69  calendar_updated                  3585 non-null   object
 70  has_availability                  0 non-null      float64
 71  availability_30                   3585 non-null   int64
 72  availability_60                   3585 non-null   int64
 73  availability_90                   3585 non-null   int64
 74  availability_365                  3585 non-null   int64
 75  calendar_last_scraped             3585 non-null   object
 76  number_of_reviews                 3585 non-null   int64
 77  first_review                      2829 non-null   object
 78  last_review                       2829 non-null   object
 79  review_scores_rating              2772 non-null   float64
 80  review_scores_accuracy            2762 non-null   float64
 81  review_scores_cleanliness         2767 non-null   float64
 82  review_scores_checkin             2765 non-null   float64
 83  review_scores_communication       2767 non-null   float64
 84  review_scores_location            2763 non-null   float64
 85  review_scores_value               2764 non-null   float64
 86  requires_license                  3585 non-null   object
 87  license                           0 non-null      float64
 88  jurisdiction_names                0 non-null      float64
 89  instant_bookable                  3585 non-null   object
 90  cancellation_policy               3585 non-null   object
 91  require_guest_profile_picture     3585 non-null   object
 92  require_guest_phone_verification  3585 non-null   object
 93  calculated_host_listings_count    3585 non-null   int64
 94  reviews_per_month                 2829 non-null   float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3818 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68275 entries, 0 to 68274
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     68275 non-null  int64
 1   id             68275 non-null  int64
 2   date           68275 non-null  object
 3   reviewer_id    68275 non-null  int64
 4   reviewer_name  68275 non-null  object
 5   comments       68222 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

In [70]:
print(df_calendar_boston.shape)
print(df_calendar_seattle.shape)
print(df_listings_boston.shape)
print(df_listings_seattle.shape)
print(df_reviews_boston.shape)
print(df_reviews_seattle.shape)

(1308890, 4)
(1393570, 4)
(3585, 95)
(3818, 92)
(68275, 6)
(84849, 6)

In [92]:
df_calendar_boston.nunique()
# df_calendar_seattle.nunique()
# df_listings_boston.nunique()
# df_listings_seattle.nunique()
# df_reviews_boston.nunique()
# df_reviews_seattle.nunique()

listing_id    3585
date           365
available        2
price         1246
dtype: int64

In [ ]:
df_calendar_boston['available'].plot(kind="bar")